.App {
  text-align: center;
  margin-top: 32px

}


.card {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.overlay {
  top: 0%;
  padding-top: 60%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  color: white;
  display: none;
  background-color: #000000a3;
  margin: auto;
  position: absolute;
}

.card:hover .overlay {
  display: block;
}